<app-navbar [userCartLength] = "userCartLength"></app-navbar>
<div class='certificatesPage'>
  <br><div id="error"></div><br>
  <div class='details'>
    <div class='wrapper fadeInUp'>
      <div id='formContent2'>
        <p></p>
        <div class='inactive underlineHover2'>
          <h3>User shopping cart</h3>
          <p></p>
        </div>
        <p></p>
        <div id="title">
          <h3 *ngIf="certificates.length > 0">{{user}} Certificates:</h3>
          <h3 *ngIf="certificates.length === 0">User shopping cart is empty now</h3>
        </div>
        <p></p>
        <div id='certificateDetailedDescription'>
          <div id="certificatesFormContent" *ngFor="let certificate of certificates">
            <div class='b'> Certificate name</div>
            <div class='t'>{{certificate.certificateName}}</div>
            <div class='b'> Price</div>
            <div class='t'>${{certificate.price}}</div>
            <div class='b'> Duration</div>
            <div class='t'>days {{certificate.duration}}</div>
            <input type="button" id="delete" (click)="delete(certificate.id)" value="DELETE">
          </div>
        </div>
        <p></p>
        <input onclick='history.back()' type='submit' class='fadeIn fifth' value='BACK'>
        <input type="button" class="fadeIn fourth" value="CONFIRM" *ngIf="certificates.length !== 0" (click)="confirm()">
        <p></p>
      </div>
    </div>
  </div>
</div>
