#giftIcon11 {
  width: 10%;
  margin: 15px 5px 5px 5px;
}

#giftIcon11:hover {
  transform: rotate(-90deg) scale(1.3);
  transition: all 0.2s ease-in-out;
}

#giftIcon22 {
  width: 10%;
  margin: 15px 5px 5px 5px;
}

#giftIcon22:hover {
  transform: rotate(360deg) scale(1.5);
  transition: all 0.7s ease-in-out;
}

#giftIcon33 {
  width: 10%;
  margin: 15px 5px 5px 5px;
}

#giftIcon33:hover {
  transform: rotate(90deg) scale(1.3);
  transition: all 0.2s ease-in-out;
}
