<app-navbar></app-navbar>
<div class="wrapper fadeInUp">
  <div id="formContent" [formGroup]="certificatesForm">
    <mat-paginator [length]=200
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 50]"
                   (page)="getPaginatorData($event)">
    </mat-paginator>
    <input type="text" #certificateName (input)="findByCertificateName(certificateName.value)" formControlName="certificateName" placeholder="certificate name">
    <div id='certificates'>
      <div id="certificatesFormContent" *ngFor="let certificate of certificateService.certificates">
        <div class='inactive underlineHover2'>
          <a [routerLink]="['/certificates', certificate.id]">
            <img src='assets/gift-box.png' id='giftIcon' alt='Gift Icon'>
          </a>
        </div>
        <div class='b'> Certificate Name </div>
        <div class='t'>{{certificate.certificateName}}</div>
        <div class='b'> Price </div>
        <div class='t'>${{certificate.price}}</div>
        <input type="button" id="booking" (click)="putInCart(certificate.id)" value="ADD TO CART">
      </div>
    </div>
    <input onclick='history.back()' type="submit" class="backButton" value="BACK">
    <input type="button" class="fadeIn fourth" (click)="resetForm()" value="RESET">
    <input type="button" class="fadeIn fourth" (click)="ngOnInit()" value="REFRESH">
    <p></p>
  </div>
</div>

