<app-navbar [userCartLength]="userCartLength"></app-navbar>
<div class="wrapper fadeInUp">
  <div id="error"></div>
  <div id="formContent" [formGroup]="certificatesForm">
    <input type="text" #certificateName (input)="findByCertificateName(certificateName.value)"
           formControlName="certificateName" placeholder="CERTIFICATE NAME">
    <form>
      <label for="tags" id="tagsLabel">Choose a tag:</label>
      <select #tagName (input)="findByTagName(tagName.value)" [value]="tagName" name="tags" id="tags">
        <option *ngFor="let tag of certificateService.tags.tags">{{tag.tagName}}</option>
      </select>
    </form>
    <div id='certificates'>
      <div id="certificatesFormContent" *ngFor="let certificate of certificateService.certificates">
        <div class='inactive underlineHover2'>
          <a [routerLink]="['/certificates', certificate.id]">
            <img src='assets/gift-box.png' id='giftIcon' alt='Gift Icon'>
          </a>
        </div>
        <div class='b'> Certificate name</div>
        <div class='t'>{{certificate.certificateName}}</div>
        <div class='b'> Price</div>
        <div class='t'>${{certificate.price}}</div>
        <input *ngIf="user !== undefined" type="button" id="booking" (click)="putInCart(certificate.id)"
               value="ADD TO CART">
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 50]"
                   [showFirstLastButtons]="userCartLength"
                   (page)="getPaginatorData($event)"
                   class="mat-paginator">
    </mat-paginator>
    <input type="button" class="fadeIn fourth" (click)="resetForm()" value="RESET">
    <input type="button" class="fadeIn fourth" (click)="ngOnInit()" value="REFRESH">
    <p></p>
  </div>
</div>
