<app-navbar></app-navbar>
<div class='certificatesPage'>
  <br><br>
  <div class='details'>
    <div class='wrapper fadeInUp'>
      <div id='formContent2'>
        <p></p>
        <div class='inactive underlineHover2'>
          <h3>User orders list</h3>
          <p></p>
        </div>
        <p></p>
        <div *ngIf="orders !== undefined" id='certificateDetailedDescription'>
          <div style="overflow-y: scroll" id="certificatesFormContent" *ngFor="let order of orders.orders">
            <div class='b'>Order owner name</div>
            <div class='t'>{{order.ownerName}}</div>
            <div class='b'>Order Price</div>
            <div class='t'>{{order.orderPrice}}</div>
            <div class='b'>Order creation date</div>
            <div class='t'>{{order.creationDate}}</div>
            <div class='b'>certificate names</div>
            <div class='t' *ngFor="let certificate of order.certificates">
              <a class='tt'[routerLink]="['/certificates', certificate.id]">{{certificate.certificateName}}</a>
            </div>
          </div>
          <p></p>
        </div>
        <input onclick='history.back()' type='submit' class='fadeIn fifth' value='BACK'>
        <p></p>
      </div>
    </div>
  </div>
</div>
