<div class='navbar'>
  <a href='/home'>MAIN PAGE</a>
  <div class='dropdown'>
    <button class='dropbtn'>ALL CATEGORIES
      <i class='fa fa-caret-down'></i>
    </button>
    <div class='dropdown-content'>
      <a href='/certificates'>Certificates</a>
      <a *ngIf="role === 'ROLE_ADMIN'" href='/admin'>User info</a>
    </div>
  </div>

  <div id='rs' class='right-side'>
    <a *ngIf="user !== undefined" href='/cart'>SHOPPING CART: {{userCartLength}}</a>
    <a *ngIf="user !== undefined" href='/user'>{{user}}</a>
    <a *ngIf="user === undefined" href='/login'>SIGN IN</a>
    <a *ngIf="user === undefined" href='/registration'>SIGN UP</a>
    <a *ngIf="user !== undefined" (click)="logout()" href='/home'>LOG OUT</a>
  </div>
</div>
