<div class="header">
  <a class="active" href='/certificates'>Home</a>
  <div *ngIf="role === 'ROLE_ADMIN'">
    <a href="/add-certificate">Add certificate</a>
    <a href="/user-info">User info</a>
  </div>
  <div class="header-right">
    <a *ngIf="user !== undefined" href='/cart' class="logo">
      {{userCartLength}}<img src='assets/shopping-cart.svg' id='cc' alt='Cart Icon'/>
    </a>
    <a *ngIf="user !== undefined" href='/order-info'>{{user}}</a>
    <a *ngIf="user === undefined" href='/login'>Sign in</a>
    <a *ngIf="user === undefined" href='/registration'>Sign up</a>
    <a *ngIf="user !== undefined" (click)="logout()" href='/home'>Log out</a>
  </div>
</div>
