/* BASIC */

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

b {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 8px 10px 8px;
  color: #cccccc;
}

h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 2px 2px 2px 2px;
  color: #cccccc;
}

h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

tbody {
  background: gainsboro;
}

tbody:hover {
  background-color: cornflowerblue;
}


.wrapperTable {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#tableContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 90%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 100%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formContent2 {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 85%;
  max-width: 85%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;

}

#formContent2:hover {
  background: darkslategray;
  color: white;
  border: 5px solid white;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

#right-side .cn1 {
  display: none;
}

#right-side:hover .cn2 {
  display: none;
}

#right-side:hover .cn1 {
  display: inline;
}


#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#certificateDetailedDescription {
  text-align: left;
  margin: 0px 0px 0px 40px;

}

#certificateName {
  text-transform: uppercase;
}

/* TABS */

h2.inactive {
  color: dimgrey;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ui-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#delete {
  background-color: darkslategray;
  font-size: 12px;
  padding: 5px 10px;
  border: white 2px;
  margin: 10px;
  border-style: solid;
  border-color: white;
}
#delete:hover {
  background-color: cadetblue;
  transition: all 0.2s ease-in-out;
  border-style: solid;
  border-color: white;
}

#title {
  text-align: center;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: black;
}

.underlineHover:hover:after {
  width: 100%;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover2:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  background-color: white;
  content: "";
  transition: width 0.1s;
  color: black;
}

.underlineHover2:hover {
  color: black;
}

.underlineHover2:after {
  width: 100%;
}

.b {
  text-transform: uppercase;
  color: #0d0d0d;
  margin: 6px 0px 0px 0px;
}

.t {
  text-transform: uppercase;
}

.t:hover {

}
#tt{

}
#tt:hover{
  color:green;
}

.nav-bar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 5%;
}

#icon3 {
  width: 5%;
  margin: 15px 5px 5px 5px;
}

#cartIcon {
  width: 20%;
}

#cartIcon:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}

#avatar {
  width: 10%;
}

* {
  box-sizing: border-box;
}

#certificatesFormContent {
  border: 5px solid darkslategray;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 100px 100px;
  width: 240px;
  max-width: 240px;
  height: 240px;
  max-height: 240px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  display: inline-block;
  margin: 20px 20px 20px 20px;
  color: black;
}

#certificatesFormContent:hover {
  background: darkslategray;
  color: white;
  border: 5px solid white;

  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  transition: all 0.1s ease-in-out;

}

#certificatesFormContent:hover a{
  background: darkslategray;
  color: white;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#certificatesFormContent:hover #tt:hover{
  background: darkslategray;
  color: #56baed;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grayColor {
  background-color: gray;
}
.grayColor:hover{
  background-color: gray;
}
